<h1>Abuela Sorda</h1>

<form action="/response" method="post">
  <label for="text" style="display: block" >Di algo Abuela:</label>
  <input type="text" name="text" />
  <input type="submit" value="Dilo!" />
</form>

